@import 'https://fonts.googleapis.com/css?family=Raleway:400,900';

#logotype a {
    color: #ffdc88;
}

#promo {
    background: url("/img/setka.png") repeat,url("/img/setka.png") repeat, url("/img/geekburger/comics-superheroes-wallpaper-1.jpg") no-repeat;
    background-size: 3px, 4px, cover;
    background-position: center center;
    position: relative;
}

#promo .promo__content {
    padding: 15% 0 8em 0;
    text-align: center;
}

#promo .promo__heading {
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    margin: 0;
    line-height: 0.8;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 0px 6px 20px black;
}

#promo .promo__heading span {
    color: #f2b902;
    position: relative;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    left: -38px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

#promo .promo__subheading {
    font-size: 2em;
    font-weight: 300;
    z-index: 50;
    position: relative;
    text-shadow: 0px 6px 20px black;
}

.coming_soon {
    letter-spacing: 0.5em;
}