@media (max-device-width: 768px) {
    #start {
        background-color: #2e2e2e;
    }
    #logotype,#contacts{
        font-size: 1.2em;
    }
    #logotype img {
        position: relative;
        z-index: 50;
        width: 160%;
    }
}
