@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800&subset=latin,cyrillic);

* {
    font-family: 'Roboto condensed', 'Roboto', serif;
    font-size: 1em;
    outline:0 !important;
    color: white;
}

pre * {
    color: black;
}

a {
    color: white;
}

.color-white { color: white;}
.color-black { color: black;}
.color-yellow { color: yellow;}

.font-opensans { font-family: "Open Sans", sans-serif}

.mt-none {margin-top: 0}
.mb-none {margin-bottom: 0}

.mb-xlg {margin-bottom: 2em}
.mt-xlg {margin-top: 2em}

.mt-lg {margin-top: 1em}
.mb-lg {margin-bottom: 1em}

.mt-md {margin-top: 0.6em}
.mb-md {margin-bottom: 0.6em}

.btn-danger {
    background: #d30000;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d30407+0,8f0222+100 */
    background: rgb(211,4,7); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(211,4,7,1) 0%, rgba(143,2,34,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(211,4,7,1) 0%,rgba(143,2,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(211,4,7,1) 0%,rgba(143,2,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d30407', endColorstr='#8f0222',GradientType=0 ); /* IE6-9 */

    text-shadow: 0 1px 2px black;
}

body {
    background: black;
}

header {
    color: white;
   background: #2e2e2e;
    display: block;
}

#content {
    background: #230e04;
}


.logo-container {margin-top: 1.3em}

#logotype, #logotype_footer {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
#logotype span {
    color: yellow;
    font-weight: bolder;
    padding: 0 8px 0;
    display: inline-block;
    -webkit-transform: scale(1.3) rotate(9deg);
    -moz-transform: scale(1.3) rotate(9deg);
    -ms-transform: scale(1.3) rotate(9deg);
    -o-transform: scale(1.3) rotate(9deg);
    transform: scale(1.3) rotate(9deg);
}

#logo {
    position: absolute;
    z-index: 50;
    width: 150px;
    top: 0;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease ;
    -ms-transition: all 0.2s ease ;
    -o-transition: all 0.2s ease ;
    transition: all 0.2s ease ;
}

#logo:hover {
    -webkit-transform: scale(1.05) rotate(-5deg);
    -moz-transform: scale(1.05) rotate(-5deg);
    -ms-transform: scale(1.05) rotate(-5deg);
    -o-transform: scale(1.05) rotate(-5deg);
    transform: scale(1.05) rotate(-5deg);
}

#logo:active {
    -webkit-transform: scale(0.85) rotate(-5deg);
    -moz-transform: scale(0.85) rotate(-5deg);
    -ms-transform: scale(0.85) rotate(-5deg);
    -o-transform: scale(0.85) rotate(-5deg);
    transform: scale(0.85) rotate(-5deg);
}

.company-title {
    margin: 0;
}
#navigation, #stick_navigation {
    background: rgba(0,0,0,0.7);
    border: none;
    margin: 0;
}

#menu {
    box-shadow: 0 3px 10px rgba(0,0,0,0.26);
    position: relative;
    z-index: 5;
}

.breadcrumbs {
    padding: 0;
    background: black;
    margin-bottom: 15px;
}

.breadcrumbs .breadcrumb {
    margin-bottom: 0;
}

.breadcrumb {
    background: black;
}

.breadcrumb li a {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

.breadcrumb li.active {
    font-size: 1.25em;
    font-family: "Open Sans", sans-serif;
    color: silver;
}

.cart-button {
    background: #d30000;
    text-align: center;
    width: 80px;
    padding: 0.8em 0 1em 0;
    font-size: 1.5em;
    display: inline-block;
    color: white;
    position: relative;
    z-index: 5;
}
#start{
 background-image: url("/img/headerfon.jpg");
    background-size: cover;

}
.cart-button small {
    font-size: 0.8em;
    display: block;
}

.cart-button:hover {
    z-index: 25;
    background: #bc0000;
    text-decoration: none;
    text-shadow: 0 1px 3px black;
}

.cart-button:before {
    content: " ";
    width: 40px;
    height: 30px;
    border-left: #d30000 solid 40px;
    border-bottom: transparent solid 30px;
    position: absolute;
    bottom: -30px;
    left: 0px;
    z-index: 10;
}
.cart-button:after {
    content: " ";
    width: 40px;
    height: 30px;
    border-right:  #d30000 solid 40px;
    border-bottom: transparent solid 30px;
    position: absolute;
    bottom: -30px;
    right: 0px;
    z-index: 10;
}

.cart-button:hover:before {
    border-left: #bc0000 solid 40px;
}

.cart-button:hover:after {
    border-right: #bc0000 solid 40px;
}

#navigation a, #stick_navigation a {
    color: white;
    font-weight: bold;
    font-size: 1.35em;
    text-transform: uppercase;
    border-bottom: transparent solid 6px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

#stick_navigation a {
    color: black;
}

#stick_navigation .cart-button {
    padding: 0.5em 0;
    font-size: 1em;
    width: 64px;
    display: inline-block;
    color: white;
    position: relative;
    z-index: 5;
}

#stick_navigation .cart-button small {
    display: block;
    font-size: 0.8em;
}



#navigation a:hover, #stick_navigation a:hover, #navigation a.active, #navigation a.current, #stick_navigation a.current {color: #fa3a26; border-color: #fa3a26}
#navigation .visible-fixedmenu {display: none}
#navigation { border-radius: 0;}


#stick_navigation a.cart-button:hover {
    background: #bc0000;
}

#stick_navigation {
    top: -500px;
    left: 0;
    right: 0;
    position: fixed;
    opacity: 0;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}
#stick_navigation.fixed {
    opacity: 1;
    box-shadow: 0 1px 8px rgba(0,0,0,0.36);
    z-index: 99;
    position: fixed;
    border-radius: 0;
    top: 0;
    left: 0;
    right: 0;
}
#stick_navigation.fixed .visible-fixedmenu {display: inherit}
#stick_navigation.fixed .phone {
    margin-top: 0.4em;
    margin-right: 0.5em;
}

#stick_navigation.fixed .btn {
    margin-top: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
}

#stick_navigation .navbar-collapse li a {
    color: white;
}


#promo-slider {
    background: url('/img/slides/1.jpg') no-repeat;
    background-position: center left;
    background-size: cover;
    color: white;
    padding: 14.5em 0;
    transition: all 0.5s ease;
    text-shadow: 0 1px 4px rgba(0,0,0,0.66);
    position: relative;
}

.marginPullDown {bottom: 0; top: 100%; position: absolute; z-index: 5}

#promo-slider .promo-title {
    font-size: 4em;
    font-weight: bolder;
    margin: 0em 0 0 0;
}


#promo-slider .promo-link {
    background: rgba(0,0,0,0.7);
    color: yellow;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    margin-top: 0.5em;
    display: inline-block;
}

#home-products {
    padding-top: 2.5em;
}

.products {
    padding-bottom: 2em;

}
.products .item {
    background: rgba(21, 8, 2, 0.8);
    padding: 0 0 2em 0;
    color: white;
    margin-bottom: 1.5em;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.28);
    border: black solid 2px;
    height: 380px;
    text-align: center;
}

.products .col-md-3:nth-child(3n+1){

}

.products .item .responder, #page-product .responder {
    position: absolute;
    top: -5%;
    background: rgba(53, 160, 0, 0.92);
    color: wheat;
    width: 80%;
    left: 10%;
    text-align: center;
    font-size: 1.35em;
    padding: 16px 0;
    border-radius: 6px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px black;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease ;
    -ms-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
    z-index: -1;
}

.products .item .responder.active, #page-product .responder.active {
    top: 10%;
    opacity: 1;
    z-index: 99;
}

.products .item .heading {
    margin: 0;
    min-height: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.62em;
    text-shadow: 0 1px 3px black, 0 0 30px rgba(255, 255, 0, 0.47);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

.products .item .heading {
    display: block;
    padding: 1em 1em 0 1em;
}

.products .item .heading:hover {
    color: yellow;
}

.products .item .rating {
    color: yellow;
}

.products .item .weight {
    color: white;
    font-size: 0.58em;
    margin-left: 1em;
}

.products .item .price {
    font-size: 1.18em;
}

.products .item .product-info {
    position: absolute;

    text-shadow: 0 2px 4px black;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 3em 2em 2em 2em;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 );

}

.products .item .order {
    background: #db3321;
    border: red solid 2px;
    font-size: 1.38em;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    padding: 0.3em 0.8em;
    margin: 1.5em -25px 0 auto;
}

.products .item .product-image {
    -webkit-transform:  scale(0.9);
    -moz-transform:     scale(0.9);
    -ms-transform:      scale(0.9);
    -o-transform:       scale(0.9);
    transform:          scale(0.9);
    transition: all 0.2s ease;
}

.products .item:hover {
    background: black;
}

.products .item:hover .product-image {
    -webkit-transform:  scale(0.93);
    -moz-transform:     scale(0.93);
    -ms-transform:      scale(0.93);
    -o-transform:       scale(0.93);
    transform:          scale(0.93);
}

.product-image-container {
    display: inline-block;
}

.addtocart span {
    border-right: #d43f3a solid 1px;
    padding: 10px 13px 10px 0;
    margin-right: 10px;
}

.products .item .addtocart {

}


    /* homepage sections */


/* product page */

#page-product {
    background: #101010;
    background-size: cover;
}

.product-card {
    padding-bottom: 80px;
    color: white;
    margin-bottom: 3em;
    position: relative;
}
.product-card .info {
    padding: 2% 5%;
}

#page-product .product-card .stars .fa {
    font-size: 1em;
}


.product-card .rating {
    color: yellow;
    font-size: 1em;
}

.product-card .product-image {
    margin: 5% auto 0 auto;
}

.product-card .image {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    top:0;
}

.product-card .back-link {
    border: white solid 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.89em;
    font-weight: bold;
    padding: 0.3em 0.6em;

    position: relative;
    top: 0;
    z-index: 10;
}

.product-card .back-link .fa {
    padding-right: 0.5em;
}

.ingredients-list {
    margin-bottom: 2em;
}

.ingredient-item {
    border: white solid 1px;
    border-radius: 4px;
    padding: 3px 6px;
    margin: 0.3em 0.1em;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}


.btn-flag {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff490c+0,f73513+49,dd2a0b+49,dd2a0b+100 */
    background: rgb(255,73,12); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,73,12,1) 0%, rgba(247,53,19,1) 49%, rgba(221,42,11,1) 49%, rgba(221,42,11,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,73,12,1) 0%,rgba(247,53,19,1) 49%,rgba(221,42,11,1) 49%,rgba(221,42,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,73,12,1) 0%,rgba(247,53,19,1) 49%,rgba(221,42,11,1) 49%,rgba(221,42,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff490c', endColorstr='#dd2a0b',GradientType=0 ); /* IE6-9 */

    padding: 0.3em 1.1em;
    text-shadow: 0 2px 3px black;
    display: block;
    border-radius: 0;
    margin-bottom: 0.3em;
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: bold;
    color: white;
    text-align: left;
}

.btn-flag:hover {
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff1911+0,f91524+49,e60817+49,e60817+100 */
    background: rgb(255,25,17); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,25,17,1) 0%, rgba(249,21,36,1) 49%, rgba(230,8,23,1) 49%, rgba(230,8,23,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,25,17,1) 0%,rgba(249,21,36,1) 49%,rgba(230,8,23,1) 49%,rgba(230,8,23,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,25,17,1) 0%,rgba(249,21,36,1) 49%,rgba(230,8,23,1) 49%,rgba(230,8,23,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1911', endColorstr='#e60817',GradientType=0 ); /* IE6-9 */

}


#day-action {
    background: url('/img/day-action.jpg') no-repeat;
    background-position: right center;
    background-size: cover;
    color: white;
}

#day-action .action-label {
    margin-top: 0.3em;
    font-size: 7em;
    text-shadow: 0 3px 13px rgba(0,0,0,0.66);
    text-transform: uppercase;
    font-weight: bold;
    color: #dd0000;
}

#day-action .action-item-name {
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    font-size: 1.78em;
    font-weight: bold;
    margin-top: -2em;
    text-shadow: 0 3px 8px rgba(0,0,0,0.66);
}

#day-action .price {
    margin-top: 0.6em;
    font-size: 5.5em;
    margin-bottom: 0;
}

#day-action .price-sub {
    margin-top: 0;
}

#why {
    padding: 1em 0;
    min-height: 850px;
    background: url('/img/slides/2.jpg') no-repeat;
    background-size: 100%;
    background-position: center bottom;

}

#why .heading {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 1em;
}

.advantage-label {
    margin-top: -85px;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1.2em;
    color: white;
    text-shadow: 0 2px 4px black;
}

.advantage-item {
    text-align: center;
}


.btn-red{
    background-color: #fa3a26;
    color: #fff;
    font-size: 1em;
}
.btn-red:hover{
    color: #fff;
}
.redf{
    color: #fa3a26;
}
.labels{
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.labels-green{
    background-color: #23db3c;
}
.labels-red{
    background-color: #fa3a26;
}
.labels-yellow{
    background-color: #f1c204;
}
.labels-blue{
    background-color: cornflowerblue;
}
.text-right{
    text-align: right;
}
#our_chefs {
    background: url('/img/chef.png') no-repeat, url('/img/table-and-lemon-back.jpg') no-repeat;
    background-size: contain, cover;
    background-position: 100px 50px, center right;
    min-height: 500px;
    color: white;
}
#our_chefs .heading {
    margin-top: 1em;
    font-size: 3em;
    font-weight: bolder;
}
#our_chefs .description {
    background: rgba(0,0,0,0.66);
    padding: 1em;
    font-size: 1.3em;
    margin: 1.5em 0;
}

#our_chefs .btn {
    background: #f9e829;
    border-radius: 0;
    font-size: 1.9em;
    text-shadow: 0 1px 3px black;
    padding: 0.5em 0.9em;
}

#map {
    min-height: 260px;
}



/* pages */
#page-category .category-list .item {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,230e04+100&0.34+0,0.54+100 */
    background: rgba(255, 255, 255, 0.75);
    padding: 1em  2em;
    margin-bottom: 1em;
    border: rgba(243, 243, 243, 0.77) solid 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    color: black;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease ;
    -ms-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}

#page-category .category-list .item:hover {
    box-shadow: 0px 4px 26px rgba(255, 255, 0, 0.59);
}

#page-category .category-list .item.active {
    background: #fff8be;
}

#page-category .category-list .item img {
    max-width: 30px;
}

#page-category .category-list .item a {
    font-size: 1em;
}

#page-category .promo {
    background: url("/img/setka.png") repeat, url("/img/geekburger/superheroes.jpg") no-repeat;
    background-size: 3px, cover;
    background-position: center center, center -80px;
    background-attachment: scroll, fixed;
    position: relative;
    padding: 2em 0 1em 0;
    margin: -1.5em 0 1.5em 0;
    text-shadow: 0 2px 5px black;
}

#page-category  span.geek {
    color: #f2b902;
    position: relative;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    left: -18px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

/* page-cart */
#page-cart {
    min-height: 800px;
}

.cart-item .product-name {
    min-height: 60px;
}

.cart-item .count {
    top: -6px;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
}

.cart-item img {
    max-height: 170px;
    margin: 0 auto;
}

.cart-item .cart-changer:hover {
    cursor: pointer;
    color: yellow;
}

.cart-order-form {
    background: rgba(255,255,255,0.18);
    padding: 1.5em 3em;
    margin-top: 2em;
    border: rgba(255, 248, 200, 0.63) dashed 2px;
}
.cart-order-form .price {
    border: white dashed 1px;
    padding: 0.13em 0.4em;
    margin: 0.3em 0;
    font-size: 1.3em;
    display: inline-block;
}

.cart-order-form .form-control {
    border-radius: 0;
    border: purple solid 1px;
    margin-bottom: 1em;
    font-size: 1.35em;
}

#address {
    margin: 0;
}

.removeFromCart:hover {
    color: #de0000;
    cursor: pointer;
}

#add_comment_switcher:hover {
    cursor: pointer;}

/* delivery page */

#page-delivery {
    min-height: 550px;
}

#page-delivery .alert {
    background: none;
    border: white solid 1px;
    color: white;
}

#page-delivery .delivery_min_summ {
    background: url('/img/headerfon.jpg') no-repeat;
    background-size: cover;
    margin: 2em 0 3em 0;
    padding: 1em 0;
}

/* actions page */
#page-actions {

}
/* footer */

#footer {
   background: #0c0c0c;
    color: white;
    padding-top: 1em;
    padding-bottom: 2em;
}

#footer .descriptor {font-size: 0.6em}
#footer .logo-container small {font-size: 0.8em;}
/* product form */
/*.product-category {margin-bottom: 0.7em}
.product-category:hover span {color: #312c62; border-bottom: 2px dashed grey; cursor: pointer}
.product-category.active span {font-weight: bold; border-bottom: 2px black solid} */
@media (max-device-width: 768px) {
    .h1 {font-size: 1.3em}
    #start {text-shadow: 0 2px 3px black; text-align: center; background-color: cornflowerblue;}
    #logotype {
        display: block;
        float: none !important;
        margin: 0 auto 11px auto;
    }
    .logo-container {}
    .company-title {
        font-size: 2em;
    }

}
.stars .fa{
    color: yellow;
}
.table-bg{
    background-image: url("/img/desc.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.promo-slide-dark{
    position: absolute;
    right: 0;
    top: 1em;
    width: 100%;
    padding: 0.5em;
}
.nomargin{
    margin: 0;
}
.setka{
    background-image: url("/img/setka.png");
}

.suggestions-nowrap, .suggestions-wrapper, .suggestions-wrapper li, .suggestions-wrapper * {color: black}

.fullscreen-slide {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.july_promo_text {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.55);
    padding: 1% 2%;
}

.product-banner{
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media screen and (max-device-width: 320px){
    .july_promo_text {
        margin: 0;
        background: rgba(0, 0, 0, 0.55);
        padding: 20% 7%;
    }
}

@media screen and (max-device-width: 380px){
    .july_promo_text {
        margin: 0;
        background: rgba(0, 0, 0, 0.55);
        padding: 20% 7%;
    }
}