.admin {
    color: black;
}
#start{
    padding-top: 15px;
}
.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.admin_table *{
    color: #000;
}
.admin_table{

    width:100%;
    font-size:1em;
}
.admin_table tr{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.admin_table td{
    vertical-align: top;
    padding: 10px;
}
.admin_table .item:hover {
    background: #f6f6f6;
    cursor: pointer;
}
.sost td{
    width: 33.333%;
    padding: 0 5px;
    border-right: 1px solid #000;
}
.labels{
    color: #fff;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
}
.labels-green{
    background-color: #25c03c;
}
.left-border-primary{
    border-left: 5px solid #337ab7;
}
.left-border-success{
    border-left: 5px solid #5cb85c;
}
.labels-red{
    background-color: #fa3a26;
}
.redf{
    color: #fa3a26;
}
.left-border-danger{
    border-left: 5px solid #d9534f;
}
.left-border-default{
    border-left: 5px solid #cfcfc4;
}
.labels-yellow{
    background-color: #e7b800;
}
.left-border-warning{
    border-left: 5px solid #eea236;
}
.labels-blue{
    background-color: cornflowerblue;
}
.left-border-info{
    border-left: 5px solid #5bc0de;
}
.buttons td{
    width:25%;
    border-right: 1px solid #000;
}
button.labels:hover{
    color: #fff;
    box-shadow: 1px 1px 3px 1px #5e5e5e;
}
.details{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}
#cat_button button i{
    display: none;
}
#cat_button .active_cat>i{
    display: inline-block;
}

.img_admin{
    max-height: 20px;
}
.prod_ingr{
    cursor: pointer;
    font-size: 1.3em;
    border-radius: 20px;
}
.pointer{
    cursor: pointer;
}
.prokrutka{
    overflow-y: scroll; /* прокрутка по вертикали */

}
.update_input{
    width: 100%;
    border: none;
}
.new_order{
    background-color: rgba(255, 253, 177, 1);
}
.alert_order{
    background-color: rgba(243, 59, 56, 0.18);
}
.address{
    color: #0f0f0f;
}
.text-shadow{
    text-shadow: 1px 1px 0px rgba(70, 70, 70, 0.83);
}
.btn-default .badge {
    color: #fff;
    background-color: #a0a0a0;
}
.badge{
    text-shadow: none;
}
.alert-tr{
    background-color: #d9534f;
    color: #fff;
}

/* */

.btn-big {
    display: block;
    font-size: 1.6em;
    padding: 2em 0;
}